{% extends 'detector/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="mb-4">COVID-19 Prevention Tips</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">Wear a Mask</h3>
                <p class="card-text">Wear a properly fitted mask when in public or around others, especially in indoor settings.</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">Social Distance</h3>
                <p class="card-text">Maintain at least 6 feet (2 meters) distance from others, especially if you're indoors.</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">Hand Hygiene</h3>
                <p class="card-text">Wash your hands frequently with soap and water for at least 20 seconds.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">Vaccination</h3>
                <p class="card-text">Get vaccinated and stay up to date with recommended boosters.</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">Ventilation</h3>
                <p class="card-text">Ensure good ventilation in indoor spaces by opening windows or using air purifiers.</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">Monitor Health</h3>
                <p class="card-text">Watch for symptoms and get tested if you experience any COVID-19 symptoms.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 